In [7]:
import pandas as pd
from pathlib import Path

# Point to the market data directory
market_dir = Path("C:/Users/felix.mcdonald/Projects/regent/regents_gate_reports/data/raw/market_data")

# Pick a file to inspect
file_path = next(market_dir.glob("*.parquet"))
df = pd.read_parquet(file_path)

In [ ]:
# Check whether first row contains "last"
if df.iloc[0].eq("last").any():
    df = df.drop(index=0).reset_index(drop=True)

# Convert all columns to numeric (in case they're still strings)
df = df.apply(pd.to_numeric, errors='coerce')

# Create a placeholder date index (e.g., business days)
df["date"] = pd.date_range(start="2020-01-01", periods=len(df), freq="B")

# Convert from wide to tidy format
tidy = df.set_index("date").stack().reset_index()
# Drop the 'metric' column
df = tidy.drop(columns=["metric"])

# Set 'date' as index and stack
df = df.set_index("date")
tidy = df.stack().reset_index()

# Rename columns
tidy.columns = ["date", "figi", "last_price"]

In [9]:
tidy

            date           figi  last_price
0     2020-01-01  0-00-088889-3   61.104687
1     2020-01-01  0-04-013720-1   81.549169
2     2020-01-01  0-04-092013-5   44.311044
3     2020-01-01  0-08-659863-5   20.650886
4     2020-01-01  0-13-745648-4   83.297346
...          ...            ...         ...
24099 2020-12-31  1-81919-733-6   52.317214
24100 2020-12-31  1-83896-431-2   69.017964
24101 2020-12-31  1-84446-000-2   72.400613
24102 2020-12-31  1-86004-111-6   54.415801
24103 2020-12-31  1-930716-59-1   59.868632

[24104 rows x 3 columns]